<!-- Navigation -->
<nav class="navbar navbar-default navbar-custom navbar-fixed-top">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                Menu <i class="fa fa-bars"></i>
            </button>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <%= link_to t('links.Home'), root_path %>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>

<!-- Page Header -->
<!-- Set your background image for this header on the line below. -->
<header class="intro-header" style="background-image: url('/assets/about-bg.jpg')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="site-heading">
                    <h2>Escreva sua Notícia</h2>
                    <hr class="small">
                </div>
            </div>
        </div>
    </div>
</header>

 <div class="container">
   <div class="row">
       <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
          <!-- <p>Escreva sua notícia</p> -->
           <%= form_for @postagem do |f| %>
           <div class="row control-group">
               <div class="form-group col-xs-12 floating-label-form-group controls">
                   <%= f.label :título %>
                   <%= f.text_field :titulo, placeholder: 'Insira o Título'%>
                   <p class="help-block text-danger"></p>
               </div>
           </div>
           <div class="row control-group">
               <div class="form-group col-xs-12 floating-label-form-group controls">
                  <%= f.label :subtítulo %>
                  <%= f.text_field :subtitulo, placeholder: 'Insira o Subtítulo'%>
                   <p class="help-block text-danger"></p>
               </div>
           </div>
           <div class="row control-group">
               <div class="form-group col-xs-12 floating-label-form-group controls">
                   <%= f.label :usuario %>
                   <%= f.text_field :usuario, placeholder: 'Usuário'%>
                   <p class="help-block text-danger"></p>
               </div>
           </div>
           <div class="row control-group">
               <div class="form-group col-xs-12 floating-label-form-group controls">
                 <%= f.label :conteúdo %>
                 <%= f.text_field :conteudo, placeholder: 'Insira o Conteúdo'%>
                   <p class="h#<Am-group col-xs-12 floating-label-form-group controls">
                <%= f.file_field :picture %>
                   <p class="help-block text-danger"></p>
               </div>
           </div>
            <br>
             <div id="success"></div>
             <div class="row">
                 <div class="form-group col-xs-12">
                     <button type="submit" class="btn btn-default">Enviar</button>
                 </div>
             </div>
          <% end %>
       </div>
   </div>
 </div>
